.container {
  height: 5vh;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.title-bar {
  height: 6vh;
  background-color: #107d40;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-bar {
  height: 5vh;
  display: flex;
  background-color: #f2f3f1;
}
.menu-icon-bar {
  height: 6vh;
}
.formula-bar {
  height: 6vh;
  display: flex;
  align-items: center;
  background-color: #f2f3f1;
}

body {
  overflow: hidden;
}

.menu-item {
  position: relative;
  margin-left: 2%;
  cursor: pointer;
  padding: 0.7%;
}
.selected {
  border-bottom: 3px solid #107d40;
  padding-bottom: 0.5%;
}

.menu-item:hover {
  background-color: #e5e4e2;
}
.menu-icon-bar {
  display: flex;
  background-color: #f2f3f1;
  align-items: center;
}
.menu-icon {
  margin-left: 1%;
  padding: 0.7%;
}
.menu-icon:hover {
  background-color: #e5e4e2;
  cursor: pointer;
}
.selector {
  height: 70%;
  width: 11%;
}

.font-family-selector {
  position: relative;
  font-size: 15px;
  font-style: "Noto Sans";
}
.selector option {
  font-size: 18px;
}
.size-selector {
  height: 27px;
  width: 55px;
  font-size: 15px;
}

.size-selector option {
  font-size: 16px;
}
.sheet-bar {
  background-color: #f4f4f5;
  height: 6vh;
  display: flex;
  align-items: center;
}
.data-container {
  height: 71vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.select-all {
  width: 37px;
  height: 30px;
  border: 1px solid lightgray;
}
.column-name-container {
  width: calc(100% - 37px);
  height: 30px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.row-name-container {
  width: 37px;
  height: calc(71vh - 30px);
  border: 1px solid lightgray;
  overflow: hidden;
}

.input-cell-container {
  width: calc(100% - 37px);
  height: calc(71vh - 30px);
  border: 1px solid lightgray;
  overflow: auto;
}
.icon-left-scroll,
.icon-right-scroll {
  font-size: 30px;
  cursor: pointer;
}
.icon-add {
  color: #107d40;
  cursor: pointer;
  margin-bottom: 0.2%;
  padding-right: 1%;
  padding-left: 1%;
}
.icon-add:hover {
  transform: scale(1.2);
}
.sheet-tab-container {
  margin-bottom: 0.3%;
  padding: 1%;
  cursor: pointer;
  padding-bottom: 0.5%;
}
.sheet-tab-container:hover {
  background-color: #e5e4e2;
}
.column-name {
  min-width: 49.73px;
  height: 27px;
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  border-right: 2px solid lightgray;
  font-weight: bold;
}
.row-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 25px;
}
.cell-row {
  display: flex;
}

.input-cell {
  min-width: 82.9px;
  height: 25px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  outline-color: #107d40;
}
.cell-row {
  display: flex;
}

.selected-cell {
  height: 70%;
  width: 10%;
  margin-left: 7px;
  border: 1px solid lightgray;
  margin-right: 4px;
  background-color: white;
}
.formula-sign {
  height: 70%;
  width: 3%;
  border: 1px solid lightgray;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.formula-input {
  height: 70%;
  width: 85.4%;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  outline: none;
}
.img {
  height: 60%;
}
.menu-icon.select {
  background-color: lightgray;
}
.sel {
  border: 2px solid #107d40;
}

.input-cell.top-cell-selected {
  border-top: none;
}
.input-cell.bottom-cell-selected {
  border-bottom: 1px solid lightgray;
}
.input-cell.left-cell-selected {
  border-left: none;
}
.input-cell.right-cell-selected {
  border-right: 1px solid lightgray;
}
.input-cell.re {
  border: 3px solid red;
}
.color-picker {
  position: relative;
  width: 34px;
  height: 12px;
  border: none;
  padding: 0;
  left: 29px;
  cursor: pointer;
  top: 3px;
}
.color-picker-text {
  position: relative;
  width: 34px;
  height: 14px;
  border: none;
  margin-left: 10px;
  margin-top: 22px;
  /* z-index: 3; */
}
.text-i {
  margin-left: -30px;
  margin-top: 4px;
}
.icon-color-text {
  display: flex;
}
.sheet-options {
  position: absolute;
  background-color: white;
  height: 80px;
  width: 80px;
  top: 83%;
  left: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  box-shadow: 5px 5px 8px lightgray;
}
.sheet-rename:hover {
  background-color: lightgray;
}
.sheet-rename {
  padding: 10px;
  width: 75px;
  text-align: center;
}
.sheet-delete {
  padding: 10px;
  width: 80px;
  text-align: center;
}

.sheet-delete:hover {
  background-color: lightgray;
}
.sheet-rename-modal {
  position: absolute;
  background-color: #fefeff;
  height: 30%;
  width: 40%;
  bottom: 20%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
  top: 35%;
  left: 20%;
  z-index: 2;
}
.buttons {
  display: flex;
  top: 150px;
  position: absolute;
  left: 60%;
}
.submit-button {
  background-color: #107c41;
  color: white;
  height: 28px;
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: center;
  border-radius: 2px;
  cursor: pointer;
}
.cancel-button {
  border-radius: 2px;
  background-color: white;
  border: 1px solid lightgray;
  color: black;
  height: 28px;
  display: flex;
  align-items: center;
  width: 80px;
  justify-content: center;
  margin-left: 8px;
  cursor: pointer;
}
.new-sheet-name {
  position: relative;
  border: 1px solid lightgray;
  height: 35px;
  width: 95%;
  border: 1px solid black;
  top: 2px;
}
.head {
  color: #107c41;
  top: 10px;
  position: absolute;
}
.sechead {
  color: #323031;
  position: absolute;
  top: 60px;
}
.new-sheet-name:focus {
  outline: none;
}
.layer {
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}
