.container {
  height: 5vh;
}
* {
  box-sizing: border-box;
  margin: 0;
}

.title-bar {
  height: 6vh;
  background-color: #107d40;
  color: white;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-bar {
  height: 5vh;
  display: flex;
  background-color: #f2f3f1;
}
.menu-icon-bar {
  height: 6vh;
}
.formula-bar {
  height: 6vh;
  display: flex;
  align-items: center;
  background-color: #f2f3f1;
}

body {
  overflow: hidden;
}

.menu-item {
  position: relative;
  margin-left: 2%;
  cursor: pointer;
  padding: 0.7%;
}
.selected {
  border-bottom: 3px solid #107d40;
  padding-bottom: 0.5%;
}

.menu-item:hover {
  background-color: #e5e4e2;
}
.menu-icon-bar {
  display: flex;
  background-color: #f2f3f1;
  align-items: center;
}
.menu-icon {
  margin-left: 1%;
  padding: 0.7%;
}
.menu-icon:hover {
  background-color: #e5e4e2;
  cursor: pointer;
}
.selector {
  height: 70%;
  width: 11%;
}

.font-family-selector {
  position: relative;
  font-size: 15px;
}
.selector option {
  font-size: 18px;
}
.size-selector {
  height: 28px;
  width: 55px;
  font-size: 15px;
}

.size-selector option {
  font-size: 16px;
}
.sheet-bar {
  background-color: #f4f4f5;
  height: 6vh;
  display: flex;
  align-items: center;
}
.data-container {
  height: 71vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.select-all {
  width: 37px;
  height: 30px;
  border: 1px solid lightgray;
}
.column-name-container {
  width: calc(100% - 37px);
  height: 30px;
  border: 1px solid lightgray;
  display: flex;
  align-items: center;
}
.row-name-container {
  width: 37px;
  height: calc(71vh - 30px);
  border: 1px solid lightgray;
}

.input-cell-container {
  width: calc(100% - 37px);
  height: calc(71vh - 30px);
  border: 1px solid lightgray;
}
.icon-left-scroll,
.icon-right-scroll {
  font-size: 30px;
  cursor: pointer;
}
.icon-add {
  color: #107d40;
  cursor: pointer;
  margin-bottom: 0.2%;
  padding-right: 1%;
  padding-left: 1%;
}
.icon-add:hover {
  transform: scale(1.2);
}
.sheet-tab-container {
  margin-bottom: 0.3%;
  padding: 1%;
  cursor: pointer;
  border-bottom: 3px solid #107d40;
  padding-bottom: 0.5%;
}
.sheet-tab-container:hover {
  background-color: #e5e4e2;
}
.column-name {
  min-width: 50px;
  height: 27px;
  display: flex;
  align-items: center;
  margin-left: 2.5%;
  border-right: 2px solid lightgray;
  font-weight: bold;
}
.row-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 25px;
}
.cell-row {
  display: flex;
}

.input-cell {
  min-width: 82.9px;
  height: 25px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  outline-color: #107d40;
}
.cell-row {
  display: flex;
}

.selected-cell {
  height: 70%;
  width: 10%;
  margin-left: 7px;
  border: 1px solid lightgray;
  margin-right: 4px;
  background-color: white;
}
.formula-sign {
  height: 70%;
  width: 3%;
  border: 1px solid lightgray;
  margin-right: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.formula-input {
  height: 70%;
  width: 85.4%;
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  outline: none;
}
.img {
  height: 60%;
}
